body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(218, 255, 170);
}

h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.quoteBlock{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.text{
    font-size: 35px;
}
