body{
    background-color: rgb(87, 52, 43);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mku{
    position: relative;
    display: none;
    left: 45%;
}

.greetingH1{
    color: rgb(175, 218, 255);
    display: flex;
    justify-content: center;
}

.twoBlocksP1,
.twoBlocksP2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: antiquewhite;
}

.twoBtnsFoBlocks1,
.twoBtnsFoBlocks2,
#messageChange{
    display: flex;
    justify-content: center;
}

.btn1,
.btn2,
.btn3,
.btn4{
    margin-right: 20px;
}

.frstP,
.scndP,
.thrdP,
.fourP{
    border: 1px solid antiquewhite;
    height: auto;
    width: 100px;
    margin-right: 20px;
    padding: 20px;
    background-color: rgb(122, 73, 60);
}