<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="./static/style.css">
    <script src="./static/script.js" defer></script>
</head>
    <body>
        <h1 class="greetingH1">Ну привет, ты здесь для того...</h1>

        <p id="messageChange"></p>

        <img class="mku" src="/static/miku.gif" alt="miku" style="width: 150px;">

            <div class="twoBlocksP1">
                <p class="frstP">Первое, не забудь кто ты, ведь в жизни главное оставаться...</p>
                <p class="scndP">Второе, ты молодец, продолжай не смотря ни на что...</p>
            </div>

                <div class="twoBtnsFoBlocks1">
                    <button class="btn1">Смена цвета 1</button>
                    <button class="btn2">Смена цвета 2</button>
                </div>
        
            <div class="twoBlocksP2">
                <p class="thrdP">Текст, туда сюда, да да да ты красивая...</p>
                <p class="fourP">Текст2, ничего больше не придумал угум...</p>
            </div>
                <div class="twoBtnsFoBlocks2">
                    <button class="btn3">Смена цвета 3</button>
                    <button class="btn4">Смена цвета 4</button>
                </div>
    </body>
</html>